/* Header Styles */
.header {
  background-color: #1a202c;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* Navbar Styles */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  color: white;
  text-decoration: none;
}

.logout {
  margin-left: 5px;
}

.btn:hover {
  color: #dee2e6;
}

.btn:active {
  color: red;
  text-decoration: underline;
}
.toggle-button {
  display: none;
}

/* Styles for the button container on smaller screens */

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  .header {
    position: relative; /* Add position: relative to the navbar */
  }
  .navbar {
    justify-content: space-between;
  }

  .btn-container-sm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #1a202c;
    padding: 0 50px;
    padding-bottom: 10px;
    border-radius: 12px;
  }

  .btns {
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the left */
  }

  .logout {
    margin: 0;
  }

  .btn-container-lg {
    display: none;
  }

  .toggle-button {
    display: block; /* Correct property value for display */
  }
}
