.post-card {
  margin-left: 5%;
  width: 90vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  gap: 20px;
  overflow: hidden;
}

.featured-img-container {
  min-width: 200px;
}

.featured-img {
  height: 120px;
  width: 100%;
  max-width: 200px;
  border-radius: 12px;
}

.featured-content {
  flex-grow: 1;
  padding: 5px;
  align-self: flex-start;
}

.featured-title {
  font-size: 20px;
  font-weight: bold;
}

.author {
  width: 15%;
  margin-top: 10px;
  margin-right: 5px;
  color: #adb5bd;
}

@media (max-width: 768px) {
  .post-card {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .author {
    margin-left: 20px;
    width: 100%;
  }

  .featured-title {
    font-size: 18px;
    font-weight: bold;
  }

  .featured-img-container {
    width: 90vw;
  }

  .featured-img {
    max-width: 100%;
    height: auto;
  }
}
